html {
  font-family: helvetica;
  background: #F4F7FA;
}

.App {
  background: #F4F7FA;
  min-height: 100vh;
}

.metric {
  height: 250px;
  background: white;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}
